/*
* Antti Eloranta 2015
*
*/

.clicker-container,
.workforce-container,
.tools-container,
.booster-container{
    width:auto;
    float:bottom;
    display:inline;
}
.button{
background-color:green;
}
#birch{
    width:auto;
    height:auto;

}

table td{
margin:0px;
border-radius: 3px;
}
table, td{

}
#action-td{
    text-align:center;
}

.worker{
    width:75px;
    height:auto;
}

.footer {
display:block;
}
